@model List<projEAD.Models.Dress>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Shop Dresses - Shop Your Wedding Jora Online";
}


     <div class="container" >
   <form action="#" method="post"><br />
  @*  @using (Html.BeginForm("", "", FormMethod.Post))
    {
    *@
    <label class="col-lg-2"> <br /> Dress No:</label><br />
    <input type="text" placeholder="for e.g 31254"/><br />
    <label class="col-lg-2"> <br />User ID:</label><br />
    <input type="text" placeholder="for e.g 1234"/>
        <br /><br />
    <input  class="col-xs-offset-3" type="submit"  value="Send Request" />
    </form>
    //}
       </div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />


<@*ul class="col-lg-3 list-group text-nowrap" style="list-style-type:none">       
	<li  class="breadcrumb">												
			<a href="#"> <img src= "~/@ViewBag.x[1].Picture" /> <br/>Designer Name: @ViewBag.x[1].DesignerName</a><br/>
			<a href="#" class="category">Dress# @ViewBag.x[1].DressCode</li></a><br />
            <label style="color:blue">Price: @ViewBag.x[1].Price</label><br />
     <label style="color:blue">Status: @ViewBag.x[1].Status</label><br />

            <button class="center-block btn-warning" style="height:40px;width:100px"> Add to cart </button>
	</li>
</ul>
<ul class="col-lg-3 list-group text-nowrap" style="list-style-type:none">
	<li  class="breadcrumb">
			<span class="sale_tag"></span>												
			<a href="#"> <img src= "~/@ViewBag.x[2].Picture" /> <br/>
                Designer Name: @ViewBag.x[2].DesignerName</a><br/>
			<a href="#" class="category">Dress# @ViewBag.x[2].DressCode</li></a><br />
    <label style="color:blue">Price: @ViewBag.x[2].Price</label><br />
    <label style="color:blue">Status:@ViewBag.x[2].Status</label><br />
    <button class="center-block btn-warning" style="height:40px;width:100px"> Add to cart </button>
	</li>
</ul>
<ul class="col-lg-3 list-group text-nowrap" style="list-style-type:none">
	<li  class="breadcrumb">											
			<span class="sale_tag"></span>
			<a href="#"> <img src= "~/@ViewBag.x[3].Picture" /> <br/>Designer Name: @ViewBag.x[3].DesignerName</a><br/>
			<a href="#" class="category">Dress# @ViewBag.x[3].DressCode</li></a><br />
    <label style="color:blue">Price: @ViewBag.x[3].Price</label><br />
    <label style="color:blue">Status: @ViewBag.x[3].Status</label><br />
    <button class="center-block btn-warning" style="height:40px;width:100px"> Add to cart </button>
	</li>
</ul>
<ul class="col-lg-3 list-group text-nowrap" style="list-style-type:none">
	<li  class="breadcrumb">                                     												
			<a href="#"> <img src= "~/@ViewBag.x[4].Picture" /> <br/>Designer Name: @ViewBag.x[4].DesignerName</a><br/>
			<a href="#" class="category">Dress# @ViewBag.x[4].DressCode</li></a><br />
    <label style="color:blue">Price: @ViewBag.x[4].Price</label><br />
    <label style="color:blue">Status: @ViewBag.x[4].Status</label><br />
    <button class="center-block btn-warning" style="height:40px;width:100px"> Add to cart </button>
	</li>
</ul>
    *@

                </div>